chbi-modal {
  display:none;

  .chbi-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    overflow: auto;

    .chbi-modal-body {
      padding: 16px;
      background: #fff;
      margin: 40px;
    }
  }
}