@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100&display=swap');
* {
  font-family: 'Audiowide', cursive;
font-family: 'Roboto', sans-serif;
}
.chibi-buttons {
  display: flex;

}