.chbi-dropdown-collection {
  width: 300px;
  position: relative;
  margin-right: 8px;
}

.chbi-dropdown-button {
  border: none;
  border-top: 1px solid #ddd;
  position: relative;
  justify-content: space-between;
  padding: 12px 32px 12px 12px;
  background-color: white;
  display: flex;
  font-size: 1.2rem;
  width: 70%;
  cursor: pointer;
  align-items: center;
  
}